/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app.zip
/storage/beauty.zip
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app_res_rts.zip
video.mp4
error_log
.well-known/*
